<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item class="top" color="dark">
    <ion-label>Rest Duration</ion-label>
    <ion-datetime #myPicker display-format="mm:ss" placeholder="Pick it" [(ngModel)]="fullTime" (ionChange)="updateMyDate(myPicker.value)"></ion-datetime>
  </ion-item>

  <circle-progress (click)="startTimer()"
  [percent]="percent"
  [radius]="radius"
  [outerStrokeWidth]='16'
  [innerStrokeWidth]='8'
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation] = "true"
  [animationDuration]="0"
  ></circle-progress>

  <p>{{elapsed.h}}:{{elapsed.m}}:{{elapsed.s}}</p>

  
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ng-container *ngIf="timer == false; else running">
    <ion-fab-button (click)="startTimer()">
        <ion-icon name="play"></ion-icon>
      </ion-fab-button>
  </ng-container> 
  <ng-template #running>
      <ion-fab-button (click)="stopTimer()">
          <ion-icon name="square"></ion-icon>
        </ion-fab-button>
  </ng-template>
</ion-fab>

</ion-content>
